@font-face {
    font-family: 'spoqa Han Sans';
    font-weight: 100;
    src: url("/src/assets/fonts/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Thin.woff2") format('woff2'),
    url("/src/assets/fonts/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Thin.woff") format('woff'),
    url("/src/assets/fonts/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Thin.otf") format('opentype')
}

@font-face {
    font-family: 'spoqa Han Sans';
    font-weight: 200;
    src: url("/src/assets/fonts/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Light.woff2") format('woff2'),
    url("/src/assets/fonts/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Light.woff") format('woff'),
    url("/src/assets/fonts/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Light.otf") format('opentype')
}

@font-face {
    font-family: 'spoqa Han Sans';
    font-weight: 400;
    src: url("/src/assets/fonts/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Regular.woff2") format('woff2'),
    url("/src/assets/fonts/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Regular.woff") format('woff'),
    url("/src/assets/fonts/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Regular.otf") format('opentype')
}

@font-face {
    font-family: 'spoqa Han Sans';
    font-weight: 500;
    src: url("/src/assets/fonts/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Medium.woff2") format('woff2'),
    url("/src/assets/fonts/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Medium.woff") format('woff'),
    url("/src/assets/fonts/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Medium.otf") format('opentype')
}

@font-face {
    font-family: 'spoqa Han Sans';
    font-weight: 700;
    src: url("/src/assets/fonts/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Bold.woff2") format('woff2'),
    url("/src/assets/fonts/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Bold.woff") format('woff'),
    url("/src/assets/fonts/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Bold.otf") format('opentype')
}

.sr-only {
    position: absolute; /* position: absolute/fixed 에서만 clip 속성 작동 */
    margin: -1px; /* 부트스트랩에선 안씀 */
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    overflow: hidden; /* overflow: visible 이면 clip 속성 작동 안됨 */
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%); /* H5BP에선 안씀 */
}

